.header{
    color: white;
    font-family: "Arial";
}

.header > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.form {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.form input{
    padding: 5px;
    border: 2px solid white;
    border-radius: 0;
    outline: none;
}


.button > span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button {
    padding: 5px;
    background-color: blueviolet;
    border: 2px solid white;
    color: white;
    border-radius: 0;
}

.button:hover{
    background-color: darkviolet;
}

.header sub{
    font-size: x-small;
    font-weight: normal;
}

.header sub a{
    color: white;
}